.ProductCardPreviewContainer{
  width: 255px;
  height: 350px;
  box-shadow: 1px 1px 10px grey;
  margin: 10px 20px;
}

.ProductCardPreviewTextTemplate{
  display: flex;
  align-items: center;
  justify-content: space-around;
}

.ProductCardPreviewTextContainer{

}

.ProductCardPreviewTextTitle{

}

.ProductCardPreviewText{

}